# Created by venv; see https://docs.python.org/3/library/venv.html
# Bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
Include/
Lib/
Scripts/
share/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and Database
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Git metadata
.git/

# VS Code & PyCharm files
.vscode/
.idea/
*.swp
*.swo

